@import "../../../styles/index.scss";

.pricingPlans {
  display: flex;
  flex-direction: column;  
  align-items: center;
  max-width: 1180px;
  width: 100%;
  margin-top: 90px;  
  &__title {
    @include roboto-700(40px, 48px);
    color: #ffff;
    margin-bottom: 20px;
    @media (max-width: 1060px) {
      @include roboto-700(28px, 33.6px);
    }
  }
  &__subtitle {
    @include roboto-400(18px, 25.2px);
    color: #8794BA;
    margin-bottom: 60px;
    @media (max-width: 1060px) {
      @include roboto-400(16px, 22.4px);
      margin-bottom: 30px;
    }
  }  
  &__sliderBlock {
    max-width: 1180px;   
    width: 100%;
    display: flex;
    justify-content: center;       
  }
  .mySwiper {      
    width: 100%; 
    .swiper-container  {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }   
    .mySwiperSlide {
      display: flex;
      justify-content: center;
      align-items: center;           
      width: auto;               
    }   
  } 
 }
