@import "../../../styles/index.scss";

.footer { 
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1180px;
  width: 100%;
  border-top: 1px solid rgba(238, 238, 246, 0.1);  
  padding-top: 60px;  
  @media (max-width: 1060px) {    
    justify-content: space-around;
  }
  &__logo {
    transition: transform 0.3s ease;
  }
  &__logo:hover {
    transform: scale(1.1);
  }
  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 370px;
    width: 100%;
    @media (max-width: 1060px) {
      display: none;      
    } 
    .item {
      @include roboto-400(16px, 18.75px);
      text-decoration: none;
      color: #8794BA;
      transition: color 0.5s ease;
    }
    .item:hover {
      color: #ffff;
    } 
  }
  &__messengersBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 136px;
    width: 100%;
    .icon {
      cursor: pointer; 
      path {
        transition: fill 0.5s ease;
      }
           
    }
    .icon:hover {
      path {
        fill: #ffff;
      }
    }
  }
}