@import "../../../styles/index.scss";

.footer { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1180px;
  width: 100%;
  border-top: 1px solid rgba(238, 238, 246, 0.1);  
  padding-top: 60px; 
  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 370px;
    width: 100%;
    .item {
      @include roboto-400(16px, 18.75px);
      text-decoration: none;
      color: #8794BA;
    }
    .item:hover {
      color: #ffff;
    } 
  }
  &__messengersBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 136px;
    width: 100%;
    .icon {
      cursor: pointer;      
    }
    .icon:hover {
      path {
        fill: #ffff;
      }
    }
  }
}